<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Details</title>
  <link rel="stylesheet" href="/styles/available.css">
</head>
<script src="https://www.paypal.com/sdk/js?client-id=AWLRNwQjvZeeJWvE0D0knxWhG5St7kluz_kNRlRqjfkakjwGUJWmfzhSBQtaf2PvQzOsoaupDM15FOa0"></script>

<body>
  <div class="container">
    <h1>Order Details</h1>
    <div class="order-info">
      <div class="order-item">
        <p>Order Placed On:</p>
        <p><%= orders1.updatedAt.toDateString() %></p>
      </div>
      <div class="order-item">
        <p>Total Amount:</p>
        <p>R<%= orders1.total %></p>
       
      </div>
       <div class="order-item">
         <P>Please pay now using paypal.</P>
       </div>
    </div>
    <div class="paypal-container" id="paypal"></div>
    
  </div>
 

  <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '<%= orders1.total %>'
            }
          }]
        });
      },
    
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details){
         
           window.location.href = '/reservation/<%= orders1.id %>';  
        })
           
        },
    }).render('#paypal');
  
  </script>

</body>
</html>





