<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bentley's Country Lodge</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
  </style>
  <link rel="stylesheet" href="/styles/bentley.css">
</head>
<body>
  <div class="header">
    <div class="start">
          <img onclick="window.location.href='https://www.bing.com/ck/a?!&&p=c7f2a415e86366b060667951da81ec1c0f45e703a3ff3e737aeee29ca1724adfJmltdHM9MTczNjM4MDgwMA&ptn=3&ver=2&hsh=4&fclid=0241d569-8bcd-63b2-10ab-c13e8acd62e5&psq=bentley%27s+country+lodge+pretoria&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL0JlbnRsZXlzTG9kZ2Uv&ntb=1'" src="/images/icons/facebook-icon.png" class="icons">

          <img onclick=" window.location.href = 'https://accounts.google.com/b/0/AddMailService'" src="/images/icons/email-icon.png" class="icons">
        
         
          <img onclick="window.location.href ='tel:0125421751'" class="icons" src="/images/icons/contact-icon.png" class="icons">

        
          <img onclick="window.location.href='https://maps.app.goo.gl/NDNs8ED2aL2covpx6'" src="/images/icons/location-icon.png" class="icons">
    </div>
    <div class="middle">
      <p class="restaurant-bar">Lodge</p>
      <p class="restaurant-bar">Restaurant</p>

      <p class="restaurant-bar">Bar</p>
    </div>
    <div class="end">
     
    </div>
  </div>
  <div class="container">
    
    <div class="left-container">
      <div class="images-container">
       <img src="/images/image1.jpg" class="images" >
       <img src="/images/image2.jpg" class="images" >
       <img src="/images/image3.jpg" class="images" >
       <img src="/images/conference-halls/image4.jpg" class="images" >
       <img src="/images/image5.jpg" class="images" >
     </div> 
    </div>
    <div class="middle-container">
      <img src="/images/logos/bentley's logo.png" class="img">
      <p class="welcome">
        Welcome to
      </p>
      <img src="/images/logos/Bentley's logo2.jpg" class="logo">
    </div>
    <div class="right-container">
      <div class="images-container">
       <img src="/images/image6.jpg" class="images" >
       <img src="/images/image7.jpg" class="images" >
       <img src="/images/image8.jpg" class="images" >
       <img src="/images/rooms/image9.jpg" class="images" >
       <img src="/images/rooms/image10.jpg" class="images" >
     </div> 
    </div>
  </div>
 
 <div class="main">
   
  <div class="bedroom">
    <div class="right1" onclick="window.location.href='/accommodation/'">
      <div>Bedroom(s):</div>
      <img class="cart-icon" src="/images/icons/cart-icon.png">
      <div class="cart-quantity js-cart-quantity"></div>
     
    </div>
    <div class="extra">
      <a class="extra-info" href="/images/rooms/info.jpg">1.extra-infos</a>
      <a class="extra-info" onclick="if ('/reservation/') {
        window.location.href = '/reservation/'
      }else{
        alert('Your booking page is still empty.')
      }">2.view yours bookings</a>
    </div>
  </div>
   <div class="main1 js-main1">
   </div>
  


   <div class="bedroom">
    <div class="right2" onclick="window.location.href = '/conference/'">
      <div>Conference Room(s) :</div>
      <img class="cart-icon" src="/images/icons/cart-icon.png">
      <div class="cart-quantity2 js-cart-quantity2"></div>
    </div>
    <div class="extra">
      <a class="extra-info" href="/images/conference-halls/extra-info-conference.jpg">1.extra-infos</a>
      <a class="extra-info" onclick="if ('/booking/') {
        window.location.href = '/booking/'
      }else{
        alert('Your booking page is still empty.')
      }">2.view yours bookings</a>
    </div>
   </div>
   <div class="main1 js-main2">
   </div>
  <footer>
    <div class="footer">
      <div class="footer1">
        <p class="footer-title">Contact Us</p>
        <p class="footer-text">Bentley's Country Lodge</p>
        <p class="footer-text">P.O. Box 0166</p>
        <p class="footer-text">Pretoria, South Africa</p>
        <p>Cnr Brits Rd & Main Street,Heatherdale,Akasia</p>
        <p class="footer-text">Tel: 012542-1751</p>
        <p class="footer-text">Email: info@bentleyslodge.co.za
      </div>
    </footer>
  
  <script src="/scripts/bentley.js"  type="module">
    
</script>
</body>
</html>