<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="/styles/checkout.css">
</head>
<body>
  <header class="header">
    <div class="left" onclick="window.location.href='/bentley/'">
      <img src="/images/logos/Bentley's logo2.jpg" class="logo">
    </div>
    <div class="center">
      Checkout(<span class="rooms js-rooms"></span>)
    </div>
    <div class="right">
      
    </div>
   
  </header>
 
  <div class="section2">
    <div class="left-section js-left-section ">
     

   
    </div>

    <div class="right-section2 js-right-section">

    </div>
  </div>
 <script src="/scripts/checkout2.js" type="module"></script>
  
</body>
</html>