<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class="form-container">
    <h2>
      Registration Form 
    </h2>
    <form action="/submit2" method="POST">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="phone">Phone No:</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter your phone no" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="id">Passport or id number:</label>
        <input type="text" id="id" name="id" placeholder="Enter your id " required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" placeholder="Enter your nationality " required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="address">Your physical address:</label>
        <input type="text" id="address" name="address" placeholder="Enter your address" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="compagny">Compagny name:</label>
        <input type="text" id="compagny" name="compagny" placeholder="Enter your compagny name"  autocomplete="off">
      </div>
     
      <button onclick="alert('Thanks for submitting your details.');" type="submit2" class="submit-btn">Submit</button>
      
    </form>
  </div>
  
</body>
</html>