<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processing</title>
  <link rel="stylesheet" href="/styles/wait.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Order Processing</h1>
      <div id="link-container-<%= order2._id %>" class="link-container"></div>
      <div class="js-div"></div>
      <p>Checking availability...</p>
      <p>Please wait for feedback.</p>
      <div 
      class="loader"></div>
    </div>
  </div>
</body>
</html>