<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processing</title>
  <link rel="stylesheet" href="/styles/wait.css">
</head>
<body>
  <div class="container">
    <div class="content ">
      
      <h1>Order Processing</h1>
      <div>
      <p>Your order is being processed.Please wait for further updates</p>
      <div class="link-container">
        <a href="<%= processingLink %>" target="_blank">Check Availability</a>
      </div>
      <div 
      class="loader"></div>
    </div>
  </div>
</body>
</html>