body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.order-info {
  margin-bottom: 20px;
}

.order-item {
  margin-bottom: 10px;
}

.order-item p {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}

.paypal-container {
  margin-top: 20px;
}
.paypal-container {
  
  margin: auto;
}