body{
  padding-top: 150px;
  padding-bottom: 3000px;
  
}
.header{
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(126, 62, 62);
  display: flex;
  align-items: center;
  justify-items: center;
  
}
.left{
  display: flex;
  height: 100%;
  width: 495px;
  color: white;
}
.center{
  display: flex;
  flex: 1;
  position: relative;
}
.right{
  width: 495px;
  height: 100%;
}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  width: 350px;
  border-left: rgb(213, 217, 217) solid 1px;
  border-bottom: rgb(213, 217, 217) solid 1px;
  border-right: rgb(213, 217, 217) solid 1px;
  
}
.welcome{
  z-index: 100;
  margin-top: 100px;
  font-size: 18px;
  color: brown;
  font-weight: bold;
}

.logo{
  width: 250px;
  margin-top: 0px;
  z-index: 100;
}

.main{
  display: flex;
  flex-direction: column;

}
.section1{
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(213, 217, 217);
  border-radius: 10px;
  width: 1000px;
  margin: 100px auto;
  margin-top: 10px;
  row-gap: 40px;

}
.head-section{
  display: grid;
  grid-template-columns: 300px 200px 150px 350px;
  width: 1000px;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  background-color: rgb(212, 212, 212);
  
}
.order-placed{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 20px;
  padding-left: 2px;
}
.total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
}
.order-id{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: start;
  justify-content: center;
  font-size: 20px;
 }  
.main-section{
  display: grid;
  grid-template-columns: 300px 600px;
  row-gap: 20px;
  column-gap: 20px;
}
.image-contain{
  max-width: 100%;
  min-height: 100%;
}
.image-room{
  width: 300px;
  
}
.details-container{
 display: grid;
 grid-template-rows: repeat(5,1fr);
 padding-left: 10px;
 font-size: 20px;
 
}
.book-again{
  border: red solid;
}